<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Inova Metrópole</title>


    <style>
      .dropdown-toggle:hover{
        background-color: #343a40;
      }

      .dropdown-item:hover{
        background-color: #007bff;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#" style="height:20pt"><img class="mb-4" src="LOGO_Inova-04.png" alt="LOGO" height="20"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ml-1">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn text-white" href="#" id="dropdownGru" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      GRU
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownGru">
                      <a class="dropdown-item text-white" href="#">Gerar GRU</a>
                      <a class="dropdown-item text-white" href="#">Ver GRUs</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item ml-1">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn text-white" href="#" id="dropdownCadastro" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cadastro
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownCadastro">
                      <a class="dropdown-item text-white" href="#">Edital</a>
                      <a class="dropdown-item text-white" href="#">Assessor</a>
                      <a class="dropdown-item text-white" href="#">Acelera Inova</a>
                      <a class="dropdown-item text-white" href="#">Empresa Pré-Incubada</a>
                      <a class="dropdown-item text-white" href="#">Empresa Incubada</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item ml-1">
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn text-white" href="#" id="dropdownVisualizar" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Visualizar
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownVisualizar">
                      <a class="dropdown-item text-white" href="#">Editais</a>
                      <a class="dropdown-item text-white" href="#">Assessores</a>
                      <a class="dropdown-item text-white" href="#">Acelerados</a>
                      <a class="dropdown-item text-white" href="#">Empresas Pré-Incubada</a>
                      <a class="dropdown-item text-white" href="#">Empresas Incubada</a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="float-right" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/logout?access_token=<%= accessToken %>">Sair</a>
            </li>
          </ul>
        </div>

      </nav>
    </header>

    <div>
      <p class="text-danger">Hi <%= username %>.</p>
      <p>Your accessToken is: <%= accessToken %></p>
      <p>Seu cargo é: <%= cargo %></p>
      <br/>
      <br/>
      <a href="/logout?access_token=<%= accessToken %>">Log out</a>
    </div>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </body>
</html>
